.appointment-list {
  background-color: transparent;
  border: 1px solid #b5b7c4;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: -40px;
  padding: 10px;
}

@media (min-width: 768px) {
  .appointment-list {
    width: 300px;
  }
}

.star-image-button {
  border: none;
}

.starred-image {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.title-starred-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.star-image-button {
  cursor: pointer;
  background-color: transparent;
}

.appointment-title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #171f46;
  font-weight: 500;
}

.date-format {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #b5b7c4;
}
