.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-container {
  width: 350px;
  height: 100vh;
  padding: 20px;
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 100%;
  height: 95%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.heading {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #171f46;
}

.title-text {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #b5b7c4;
}

.input-title {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #b5b7c4;
  margin-bottom: 10px;
}

.date-input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #b5b7c4;
}

.date-text {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #b5b7c4;
}

.button {
  width: 60px;
  color: #ffffff;
  background-color: #8b5cf6;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border-width: 0px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 300;
}

.horizontal-line {
  width: 100%;
  border: 1px solid #b5b7c4;
  margin-top: 20px;
}

.button-starred {
  background-color: transparent;
  width: 70px;
  border: 1px solid #9897f0;
  border-radius: 20px;
  color: #9897f0;
  padding: 5px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  cursor: pointer;
}

.appointments-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
